<html>
<head>
	<title>Snake app !</title>

	<script src="vendor/angular.min.js"></script>
	<script src="snake.js"></script>

	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="reset.css">
</head>
<body ng-app="snakeApp">
	<div id="main" ng-controller="mainController">
		<div id="gameBoard" ng-style="windowSize">
			<table>
				<tr ng-repeat="line in gameBoard">
					<td ng-repeat="cell in line.cells" ng-style="line.style">
						<div ng-class="cell.style" class="cell">
							<div ng-class="cell.head1" class="cell-head"></div>
							<div ng-class="cell.head2" class="cell-head"></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>